.navbar-custom{
    background-color: #76c7c0;
    height: 78px;
}


.new_nav{

    padding: 15px;
}

.icon_nav{

    position: absolute;
    right: auto;
    top: -8px;
    left: 10px;
    color: #e2534b;

}

.title1{

    background: #e2534b;
    padding: 3px 11px;
    font-family: "Open Sans";
    font-size: 48px;
    border-radius: 7px;
}

.title2{

    background: #3f4646;
    padding: 16px 38px;
    font-family: "Open Sans Regular";
    font-size: 15px;
    border-radius: 7px;
}

.icon2_nav{

    right: 0px;
    top: 0px;
    padding: 3px;

}
.new_button{
    color: white !important;
    font-weight: bold;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    padding: 5px;

}

.new_button:focus{
    border-bottom: 3px solid #e2534b;
    border-radius: 5px;
    background-color: #e8645a !important;
}

.new_button:hover{
    border-bottom: 3px solid #e2534b;
    border-radius: 5px;
    background-color: #e8645a !important;
}

.grad {
    position: relative;top: -17px;
    background-repeat:repeat-x;
    background: transparent url(../grad.png);
}

.navbar-nav > li {
    margin-right: 15px;
}
.navbar-nav > li:last-child {
    margin-right: 0;
}

.brand_new{

    margin-left: 165px;
}


.carousel-new{

    right: auto;
    left: auto;
    left: calc(50% - 250px);
    width: 500px;
}

.navbar-nav > li {

    padding: 6px;
}

.icon_search{
    right: 0px;
    font-size: 13px;
}
.logo1{
    font-size: 29.2px;
    color: white;
    font-weight: bolder;

}

.logo2{
    color: white;
    font-size: 24.34px;
    display: inline;
}

.nav-new{
    background-color: #76c7c0;
    height: 78px;
}

.icon2{
    position: absolute;
    left: 9px;
    top: -8px;
    color: #e2534b;
}